/node_modules
/_reports
/reports
debug.log
/src/**/*.js
/src/**/*.js.map
/tests/**/*spec.js
/tests/**/*spec.js.map
/build/src/**/*.js
/build/src/**/*.js.map
/build/tests/**/*spec.js
/build/tests/**/*spec.js.map
/compiled/src/**/*.js
/compiled/src/**/*.js.map
/compiled/tests/**/*spec.js
/compiled/tests/**/*spec.js.map